@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import "util.css";
:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

.section1 {
  background-color: var(--dark);
  height: 1250px;
}
/* Navbar */
.menu {
  display: none;
}
#mainbtn {
  display: flex;
  justify-content: center;
  text-align: center;

  padding-left: 20px;
  width: 100%;
  margin: 0 auto;
}
.mobilebtn {
  text-align: center;
  justify-content: center;
  padding-left: 20px;
}
.contactmebtn {
  display: none;
}

header nav {
  padding: 2rem 0;
}

header nav .left a {
  color: var(--white);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.menu {
  align-items: center;
}

/* Layer 1 */
.wrapper {
  width: 100%;
}
.img-info {
  width: 100%;
  text-align: center;
}
.img-info > h4 {
  padding: 30px 30px 20px;
  font-size: 30px;
  color: white;
  line-height: 24px;
}
.img-info > p {
  padding: 0px 30px 20px;
  font-size: 70px;
  color: white;
}
.img-info > h6 {
  padding: 10px 0px 0px;
  font-size: 30px;
  color: white;
  line-height: 44px;
}
.img-me {
  width: 100%;
  height: 600px;
}

.icon {
  width: 10% !important;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
  border-radius: 50%;
  background-color: white;
}

.layer1 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.layer1img {
  height: 100vh;
  width: 100vh;
  background-repeat: no-repeat;
}

.layer1text {
  padding: 120px 0px 10px 0px;
  width: 100vh;
  height: 100vh;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.myButton {
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 17px;
  padding: 16px 23px;
  text-decoration: none;
  margin-bottom: 20px;
  background-color: #ee8c68;
  background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
}

/*About Me */

.Desktop {
  height: 20%;
}
.about {
  height: 800px;
  padding: 0px 20px 0px 20px;
}

.about h1 {
  margin-bottom: 1rem;
  font-size: 3.2rem;
  font-weight: 400;
}
.about p {
  font-family: "Padauk", sans-serif;
  line-height: 1.5;
}
.aboutmeheader {
  padding-top: 70px;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 3.6rem;
  font-weight: 400;
}
.aboutmeheader2 {
  color: #3dcfd3;
}
.about-img {
  padding-top: 30px;
  width: 100%;
}

/* Projects */
.projectstext {
  text-align: right;
  padding-top: 14%;
  padding-bottom: 5%;
  color: white;
  margin-bottom: 1rem;
  font-size: 3.2rem;
  font-weight: 400;
}
.projectstext2 {
  color: #3dcfd3;
}
.projects {
  background-color: var(--dark);
  padding-bottom: 5%;
}

.card {
  margin: 10px;
  border-radius: 10px;
  flex: 2.5;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.07);
}
.card > img {
  height: 250px;
  width: 100%;
  margin: 0 auto;
}
.card_info {
  margin: 10px;
  flex: 1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
.card_info > h2 {
  font-size: 28px;
  font-weight: 200;
  text-align: center;
}
.card_info > h3 {
  font-size: 16px;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
}

.projects > .container > p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
/* .right > img {
  width: 300px;
  height: 400px;
} */

.footer {
  padding-top: 40px;
  background-color: #161616;
  padding-bottom: 40px;
}
.footer > h1 {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
@media only screen and (min-width: 768px) {
  .section1 {
    height: 1400px;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 70% 84%, 0 95%);
  }
  .menu {
    display: flex;
  }
  #mainbtn {
    display: none;
  }
  .contactmebtn {
    display: block;
  }
  .navbar {
    width: 100%;
    padding-bottom: 30px;
  }
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }
  .img-info > h4 {
    padding: 20px 0px 00px;
  }
  .img-info > p {
    padding: 20px 0px 0px;
  }
  .img-me {
    padding-top: 30px;
  }
  .icon {
    width: 10% !important;
    padding: 5px;
    margin-right: 20px;
    color: white;
    border-radius: 50%;
    background-color: white;
  }

  .aboutmeheader {
    padding-top: 0px;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 3.6rem;
    font-weight: 400;
  }
  .card > img {
    height: 250px;
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1000px) {
  .section1 {
    height: 1000px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 84%, 0 100%);
  }
  .sidebar {
    display: none;
  }
  .navbar {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
  }
  .navbar > .right {
    padding-top: 10px;
  }
  .wrapper {
    width: 1000px;
  }
  .img-info {
    padding-top: 100px;
    padding-right: 70px;
    width: 50%;
    float: left;
  }
  .img-info > h4 {
    padding: 20px 0px 0px 30px;
  }
  .img-info > p {
    padding: 20px 0px 0px 30px;
  }
  .img-me {
    padding-top: 0px;
    width: 50%;
    float: right;
  }
  .icon {
    width: 15% !important;
    padding: 5px;
    margin-right: 20px;
    color: white;
    border-radius: 50%;
    background-color: white;
  }

  .about {
    height: 600px;
  }

  .about-text {
    padding-top: 30px;
    width: 50%;
    float: right;
  }
  .about-text > p {
    padding-left: 100px;
    font-family: "Padauk", sans-serif;
    line-height: 1.5;
    padding-top: 60px;
  }
  .about-img {
    padding-top: 80px;
    width: 50%;
    height: 400px;
    float: left;
  }

  .projects {
    clip-path: polygon(0 0, 30% 10%, 100% 0%, 100% 100%, 0 100%);
  }
  .projects > .container > p {
    color: white;
    font-size: 26px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  .card {
    margin: 10px;
    border-radius: 10px;
    flex: 2.5;
    transition: transform 100ms ease-in;
    cursor: pointer;
  }
  .carddiv {
    display: flex;
    margin-bottom: 70px;
  }
  .card:hover {
    transform: scale(1.07);
  }
  .card > img {
    object-fit: fill;
    min-width: 300px;
    min-height: 400px;
    width: 100%;
  }
  .card_info {
    margin: 0px;
    flex: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    padding-right: 10px;
  }
  .card_info > h2 {
    font-size: 28px;
    font-weight: 200;
    text-align: center;
  }
  .card_info > h3 {
    font-size: 20px;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
  }

  .projects > .container > p {
    color: white;
    font-size: 26px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  .footer {
    padding-top: 40px;
    background-color: #161616;
    padding-bottom: 40px;
  }
  .footer > h1 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
  }
}
